<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Auth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D55DE321BBC178900ADAB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D55DE4B1BBC178D00ADAB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D55DE561BBC179100ADAB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
